<!DOCTYPE html>
<head>
   <title>Current Status</title>
  
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/bootstrap.css') }}" />
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/css/bootstrap.min') }}" />
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}" /> -->

</head>

<body>
<div style ="border:4px solid #8B008B; background-color: #8B008B" >
<div style ="border:4px solid #ff5733; margin-left:200px; margin-right:200px; margin-top:100px; margin-bottom: 300px;  background-color: #ff5733; border-radius: 25px;">
   <h1 style="color:#8B008B; 
   font-size: 2em; 
   font-family: Arial Black;">Smart Home Light control panel</h1>

   {% for pin in pins %}
   <p>The {{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently on 
	  <a style="border: 4px solid #33ff33; background-color:#33ff33; color:white; border-radius: 10px; width: auto; font-family: Arial Black;" href="/{{pin}}/on">TURN OFF</a><!--)--> &nbsp <a onclick="refreshVoltage()" style="border: 4px solid #0892D0; background-color:#0892D0; color:white; border-radius: 10px; width: auto; font-family: Arial Black; location.reload(); " href="/{{pin}}/on_voltage">VOLTAGE USAGE</a> <!--button-->
   {% if  %}
   {% endif %}
   {% else %}
      is currently off <!--(-->
	  <a style="border: 4px solid #C70039; background-color:#C70039; color:white; border-radius: 10px;  width: auto; font-family: Arial Black; " href="/{{pin}}/off">TURN ON</a><!--)-->
   {% endif %}
   </p>
   {% endfor %}

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}
  </div>
 </div>
 <script>
function refreshVoltage() {
    location.reload(true);
}
</script>
</body>
</html>